<div class="page-header">
  <h2>My Shopping Cart</h2>
</div>
<ul>
  <% @cart.line_items.each do |item| %>
    <li><%= item.quantity %> &times; <%= item.product.product_description.name %></li>
  <% end %>
</ul>
